 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

:root {
  --black: #111;
  --grey: #333;
  --red: #ED4245;
  --blue: #5865F2;
  --yellow: #FEE75C;
  --green: #57F287;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--black);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav > ul {
  z-index: 1000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  background-color: #080808;
  box-shadow: 0px 3px 20px #080808;
}

.navigation-bar > li {
  font-size: 125%;
  padding: 1em;
  float: left;
}

.navigation-bar > li > a {
  text-decoration: none;
  font-weight: 780;
  transition: all 0.5s ease-in-out;
  color: #c4c4c4 !important;
}

.navigation-bar > li > a:hover {
  -webkit-background-clip: text;
  transition: all 0.5s ease-in-out;
  color: #78f4ff !important;
}

.filter-svg-nav {
  transition: all 0.5s ease-in-out;
  filter: invert(60%) sepia(91%) saturate(4242%) hue-rotate(215deg) brightness(99%) contrast(103%);
}

.filter-svg-nav:hover {
  transition: all 0.5s ease-in-out;
  filter: invert(80%) sepia(15%) saturate(1132%) hue-rotate(142deg) brightness(104%) contrast(102%);
}

header {
  background-size: cover;
  background-image: url("images/banner.gif");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin-bottom: 5%;
  margin-bottom: 0;
}

header h1 {
  margin-top: -5em;
  text-align: center;
  font-size: 350%;
  text-shadow: 2px 2px 7px #121212;
}

header p {
  text-align: center;
  font-size: 200%;
  font-weight: 600;
  color: #e3e3e3;
  text-shadow: 2px 2px 7px #121212;
}

footer {
  padding: 3.5em;
  min-height: 400px;
  overflow: hidden;
  background-color: #0d0d0d;
  margin-top: 3.5em;
}

footer a {
  color: #d0adf0;
}

.footer-credits {
  font-size: 120%;
  color: #d4d4d4;
  font-weight: bold;
}

header, footer {
  position: relative;
}

img {
  vertical-align: middle;
}

header>* {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

footer > * {
  position: absolute;
  margin: 10px;
  top: 10px;
  width: 100%;
}

section > h1 {
  margin-left: 20px;
}

.subtext {
  font-size: 12px;
}


h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  padding-top: 3.5em;
  font-size: 220%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease-in-out infinite;
  background-size: 400% 400%;
}

footer h2 {
  color: white;
  text-align: left;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: initial;
  animation: none;
}

h3 {
  font-size: 140%;
}

main p {
  font-size: 120%;
  line-height: 1.25em;
  color: #d4d4d4;
}

main a {
  color: #58a6ff;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline; 
}

@media only screen and (min-width: 1336px) {
  header {
    background-attachment: fixed;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}